<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="headera">
      <div class="titu">
        <ion-title>mapa</ion-title>
      </div>
      <div class="usuar">
        <ion-label>Usuario: {{user.usuario}}</ion-label>
      </div>
      <div class="btnmenu">
        <button mat-icon-button [matMenuTriggerFor]="menu" color="primary">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<mat-menu #menu="matMenu">
  <button mat-menu-item>perfil</button>
  <button mat-menu-item>configuracion</button>
  <button mat-menu-item (click)="goTologin()">cerrar sesion</button>
</mat-menu>

