.headera {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .titu {
    flex: 1;
  }
  
  .btnmenu {
    flex: 0;
  }
  
.usuar{
  padding-right: 10px;
}