.headera {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .titu {
    flex: 1;
  }
  
  .btnmenu {
    flex: 0;
  }
  
.usuar{
  margin-top: 1.2em;
  flex: 2;
}
.titulo{
  height: 50px;
  width: 100px;
}

//.techo{
 // border: 2px solid black;
//}