<ion-header [translucent]="true">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
  <script src="https://unpkg.com/leaflet-routing-machine@3.2.12/dist/leaflet-routing-machine.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
<script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
  <ion-toolbar class="techo">
    <div class="headera">
      <div class="titulo">
        <ion-img
        src="../../assets/icon/mapanew.png"
        alt="Tellevo icono"
    ></ion-img>
    </div>
      <div class="usuar">
        <ion-label color="light" ><h3>Bienvenido: {{user.usuario}}</h3></ion-label>
      </div>
      <div class="btnmenu">
        <button mat-icon-button [matMenuTriggerFor]="menu" color="primary">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <mat-icon>build</mat-icon>
    <span>Configuracion</span>
  </button>
  <button mat-menu-item (click)="goToviaje()">
    <mat-icon>assignment</mat-icon>
    <span>Viajes</span>
  </button>
  <button mat-menu-item (click)="cerrar()">
    <mat-icon>highlight_off</mat-icon>
    <span>cerrar sesion</span>
  </button>
</mat-menu>


<ion-content [scrollEvents]="true" scroll-y="false">
  <div id="map"></div>
</ion-content>


<div>
<ion-segment>
  <ion-segment-button tab="mapa" (click)="goTomapa()" class="boton1">
    <ion-icon name="location-outline"></ion-icon>
    mapa
  </ion-segment-button>

  <ion-segment-button tab="chat" (click)="goTomapa()" class="boton1">
    <ion-icon name="chatbox-ellipses-outline"></ion-icon>
    chat
  </ion-segment-button>
  
  <ion-segment-button tab="perfil" (click)="goToperfil()" class="boton1">
    <ion-icon name="person-circle-outline"></ion-icon>
    perfil
  </ion-segment-button>
</ion-segment>
</div>

<!-- por ahora es placeholder porque no tengo otras paginas pero funciona (creo)-->