<ion-header [translucent]="true">
  <ion-toolbar class="techo">
    <div class="titulo">
      <ion-img
      src="../../assets/icon/retroñe.png"
      alt="Tellevo icono"
  ></ion-img>
  </div>
  </ion-toolbar>
</ion-header>

<ion-content class="custom-background">
  <div class="contenedor">   
<div>
  <div class="card">
    <div class="logo">
    <ion-img
    src="../../assets/icon/retroñe.png"
    alt="Tellevo icono"
></ion-img>
</div>
    <div class="principal">
    <ion-list >
      <ion-item>
        <ion-input class="inputusu" type="text" [(ngModel)]="user.usuario"
        labelPlacement="floating" 
        value="" maxlength="8" placeholder="Ingrese usuario" requiered>
          <div slot="label">Usuario</div>
        </ion-input>
      </ion-item>
    </ion-list>
 <br>
    <ion-list>
      <ion-item>
        <ion-input type="password" [(ngModel)]="user.password"
        labelPlacement="floating" maxlength="8" 
        placeholder="Ingrese contraseña" requiered>
          <div slot="label">Contraseña</div>
        </ion-input>
      </ion-item>
    </ion-list>
    <br>
  </div>
     <div class="botones">
        <ion-button class="ingresar" (click)="enviar()">Ingresar</ion-button>
        <ion-button class="crear" (click)="validacion()">Crea tu cuenta</ion-button>
        <ion-button id="open-modal" expand="block">Restablecer contraseña</ion-button>
        <br>
        <ion-label class="alerta" color="primary">{{alerta}}</ion-label>

    <ion-modal #modal trigger="open-modal">
      <ng-template>
        <ion-content>
          <ion-toolbar>
            <ion-title>Restablecer contraseña</ion-title>
              <ion-buttons slot="end">
                <ion-button color="white" (click)="modal.dismiss()">Cerrar</ion-button>
              </ion-buttons>
            </ion-toolbar>
            <div class="ventana">
              <ion-item>
                <ion-input type="text" [(ngModel)]="user.usuario"
                  labelPlacement="floating" 
                    value="" maxlength="8" placeholder="Ingrese usuario" requiered>
                      <div slot="label">Usuario</div>
                    </ion-input>
                   </ion-item>
                   <!-- por ahora modal.dismiss()-->
                  <ion-button class="Recuperar" (click)="modal.dismiss()">Recuperar</ion-button>
                </div>
              </ion-content>
            </ng-template>
          </ion-modal>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <ion-button class="gira" (click)="girarElemento()">gira</ion-button>
</ion-content>
