<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      TeLlevo
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <div class="titulo">
    <h1>Bienvenido</h1>
    </div>
    
    <p>Usuario: {{ user.usuario }}</p>

    <div class="contenedor">
    <h4>Informacion Adicional</h4>
    <div class="nombre">
      <p>Nombre</p>  <ion-input clearInput lines="none" type="text" placeholder="Ingrese nombre" [(ngModel)]="nombreUsuario"></ion-input>
    </div>
    <div class="apellido">
      <p>Apellido</p> <ion-input clearInput lines="none" type="text" placeholder="Ingrese Apellido" [(ngModel)]="apellido"></ion-input>
    </div>

    <!--selector de nivel eduacional -->
    <ion-item>
      <ion-select label="Nivel eduacion" placeholder="Selecciona nivel">
        <ion-select-option value="Basica">Educacion basica </ion-select-option>
        <ion-select-option value="Media">Educacion media </ion-select-option>
        <ion-select-option value="Superior">Educacion superior</ion-select-option>
      
      </ion-select>
    </ion-item>

    <!--selector de fecha de nacimiento -->
    <div class="fecha">
    <p>Fecha de nacimiento</p>
    <ion-input type="date" [(ngModel)]="selectedDate"></ion-input>
  </div>
    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime id="datetime" [(ngModel)]="selectedDate" displayFormat="DD/MM/YYYY"></ion-datetime>
      </ng-template>
    </ion-modal>
    
  <div class="botoneslm">
    <!--limpiar casillas -->

    <ion-button  class="limpiar" (click)="limpiarCampos()">Limpiar</ion-button>
    
    <!-- mostrar nombre y apellido como ventana emergente -->
    <ion-button  id="present-alert" class="mostrar" >Mostrar</ion-button><br>
    <ion-alert
      trigger="present-alert"
      header="Usuario"
      subHeader="Su usuario es {{ nombreUsuario }} {{ apellido }}"
      [buttons]="alertButtons"
    ></ion-alert>
  </div>
  </div>
  <ion-footer>
    TeLlevo
  </ion-footer>
  
