
.nombre{
  grid-template-columns: auto 1fr;
  display: grid;
  gap: 10px;
}

.apellido{
  grid-template-columns: auto 1fr;
  display: grid;
  gap: 10px;
}

.fecha {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 10px;
  
}


.contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.titulo{
  display: flex;
  justify-content: center;
}

.botoneslm {
  display: flex;
  justify-content: space-between;
  margin-top: 20px; /* Espacio opcional entre los botones y el contenido anterior */
  
}
.limpiar{
  margin: 1em;
}
.mostrar{
  margin: 1em;
}
ion-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f8f8f8;
  padding: 10px 0;
 
}


