<ion-header [translucent]="true">
  <script src="https://unpkg.com/opencage-api-client"></script>
  <ion-toolbar class="techo">
    <div class="headera">
      <div class="titulo">
        <ion-img
        src="../../assets/icon/viajesa.png"
        alt="Tellevo icono"
    ></ion-img>
    </div>
      <div class="btnmenu">
        <button mat-icon-button [matMenuTriggerFor]="menu" color="primary">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
    </div>
  </ion-toolbar>
</ion-header>


<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <mat-icon>build</mat-icon>
    <span>Configuracion</span>
  </button>
  <button mat-menu-item (click)="goToviaje()">
    <mat-icon>assignment</mat-icon>
    <span>Viajes</span>
  </button>
  <button mat-menu-item (click)="goTomapa()">
    <mat-icon>assignment</mat-icon>
    <span>volver</span>
  </button>
  <button mat-menu-item (click)="cerrar()">
    <mat-icon>highlight_off</mat-icon>
    <span>cerrar sesion</span>
  </button>
</mat-menu>

<ion-content >
  <div class="adminPart" *ngIf="!isUser()">
    <div class="crear-viaje">
      
      <ion-item>
        <ion-select [(ngModel)]="tipoOrigen" (ionChange)="onTipoOrigenChange()">
          <ion-select-option value="posicionActual">Direccion Actual</ion-select-option>
          <ion-select-option value="ingresarDireccion">Ingresar dirección debajo</ion-select-option>
        </ion-select>
      </ion-item>
      
      <ion-item *ngIf="tipoOrigen === 'ingresarDireccion'">
        <ion-label position="floating">Dirección de partida</ion-label>
        <ion-input [(ngModel)]="direccionOrigen"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Dirección de destino</ion-label>
        <ion-input [(ngModel)]="direccionDestino"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Hora de Salida</ion-label>
        <ion-input [(ngModel)]="horaSalida"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Precio por Persona</ion-label>
        <ion-input [(ngModel)]="precioPorPersona"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Número de Asientos</ion-label>
        <ion-input [(ngModel)]="numeroAsientos" type="number"></ion-input>
      </ion-item>      
      <ion-button expand="full" (click)="agregarViaje()">Agregar Viaje</ion-button>
    </div>

    <div class="listar-viajes">
      <ion-list>
        <ion-item *ngFor="let viaje of viajes">
          <ion-checkbox [(ngModel)]="viaje.seleccionado"></ion-checkbox>
          <ion-label>{{ viaje.address  }}</ion-label>
          <ion-label>{{ viaje.departureTime }}</ion-label>
          <ion-label>${{ viaje.pricePerPerson }}</ion-label>
          <ion-label>{{ viaje.numberOfSeats - viaje.seatsTaken }}</ion-label>
        </ion-item>
      </ion-list>
      
      <ion-button expand="full" (click)="eliminarViajesMarcados()">Eliminar Viajes Marcados</ion-button>
      <ion-button expand="full" (click)="actualizarListaViajes()">actualizar listar</ion-button>
    </div>
  </div>

  <div class="userPart" *ngIf="isUser()" style="overflow: auto;">
    <h1 style="color: black;">Bienvenido, Pasajero</h1>
    <ion-list>
      <ion-item *ngFor="let viaje of viajes">
        <div (click)="selectViaje(viaje)">
          <ion-card style="width: 400px; background-color: #477ea7">
            <ion-card-header>
              <ion-card-title style="color: aliceblue;">{{ viaje.address }}</ion-card-title>
            </ion-card-header>
            <ion-card-content style="color: aliceblue;">
              <ion-card-subtitle>Hora de salida</ion-card-subtitle>
              {{ viaje.departureTime }}
              <ion-card-subtitle>Precio por persona</ion-card-subtitle>
              ${{ viaje.pricePerPerson }}
              <ion-card-subtitle>Asientos disponibles</ion-card-subtitle>
              {{ viaje.numberOfSeats - viaje.seatsTaken }}
            </ion-card-content>
          </ion-card>
        </div>
      </ion-item>
    </ion-list>
  </div>
  
  
  
  

</ion-content>


