.headera {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .titu {
    flex: 1;
  }
  
  .btnmenu {
    flex: 0;
  }
  
.usuar{
  margin-top: 1.2em;
  flex: 2;
}
.titulo{
  height: 72px;
  width: 80px;
  margin-right: 1em;
  margin-left: 1em;
}

.crear-viaje {
  padding: 16px;
}

.listar-viajes {
  height: 50vh;
  overflow-y: auto; 
  padding: 16px;
}

ion-content {
  --background: none;
  background-image: url('../../assets/icon/fondo3.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.adminPart {
  margin: 0 auto;
  align-items: center;
  text-align: center;
  width: 440px; 
  height: 764px;
  border-radius: 10px;
  background-color: #ffffff;
  border: 4px solid black;
}

.userPart {
  margin: 0 auto;
  align-items: center;
  text-align: center;
  width: 385px;
  height: 692px;
  border-radius: 10px;
  background-color: #ffffff;
  border: 4px solid black;
}

ion-card-subtitle{
  color: aliceblue;
};